@using WebViewPage = MovieConnections.Web.Areas.WebViewPage
@model MovieConnections.Framework.Models.NotificationModel

<div class="alert alert-@Html.GetNotificationTypeClassName(Model.Result) alert-block fade in">
    <button data-dismiss="alert" class="close close-sm" type="button">
        <i class="fa fa-times"></i>
    </button>
    <p>@Html.Raw(Model.Message)</p>
</div>