USE [master]
GO
/****** Object:  Database [MovieConnections]    Script Date: 09.09.2016 19:28:08 ******/
CREATE DATABASE [MovieConnections]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieConnections', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MovieConnections.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MovieConnections_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MovieConnections_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieConnections].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieConnections]
GO
/****** Object:  StoredProcedure [dbo].[Sp_CreateBranches]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Sp_CreateBranches]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert stat ements for procedure here
	DECLARE @Cursor CURSOR
	DECLARE @ActorId int
	DECLARE @table Table(Branch nvarchar(max))
	DECLARE @skip int
	DECLARE @take int
	SET @skip = 0
	SET @take = 1

	BEGIN
		SET @Cursor = CURSOR FOR
		SELECT actor.Id FROM Actor actor

		OPEN @Cursor
		FETCH NEXT FROM @Cursor
		INTO @ActorId

		WHILE @@FETCH_STATUS = 0
		
		BEGIN

			;WITH BranchStepsCTE([Level], Branch) AS
			(
				SELECT 1, actor.Name Branch FROM Actor actor Where actor.Id = @ActorId

				UNION ALL

				SELECT BranchStepsCTE.[Level] + 1, Branch = 
				CASE 1 WHEN (BranchStepsCTE.[Level] % 2 )
				THEN ( SELECT nextActor.Name Branch FROM Actor actor
						INNER JOIN ActorMovie actorMovie on actorMovie.ActorId = actor.Id
						INNER JOIN Actor nextActor  on nextActor.Id = actorMovie.ActorId
						WHERE actor.Id = @ActorId AND nextActor.Id <> @ActorId )

				ELSE ( SELECT movieCulture.Title Branch FROM MovieCulture movieCulture
						INNER JOIN ActorMovie actorMovie on actorMovie.MovieId = movieCulture.Id
						INNER JOIN Actor nextActor  on nextActor.Id = actorMovie.ActorId
						WHERE nextActor.Id = @ActorId )

				END
				FROM Actor actor
				 INNER JOIN BranchStepsCTE branchStepsCTE on branchStepsCTE.[Level] = [Level]

				--SELECT  @index as RowNumber, Branch = CASE 1 WHEN RowNumber + 1 % 2
				
				--THEN ( SELECT TOP(1) actorFirst.Name FROM Actor actorFirst
				--LEFT JOIN ActorMovie actorMovie on actorMovie.MovieId = 
				--(SELECT movieCulture.Id FROM ActorMovie actorMovie
				--LEFT JOIN MovieCulture movieCulture on movieCulture.Id = actorMovie.MovieId
				--Where actorMovie.ActorId = @actorId ) GROUP BY actorFirst.Name, actorFirst.Id )

				--ELSE ( SELECT TOP(1) movieCulture.Title FROM ActorMovie actorMovie
				--LEFT JOIN MovieCulture movieCulture on movieCulture.Id = actorMovie.MovieId
				--Where actorMovie.ActorId = @actorId  GROUP BY movieCulture.Title, movieCulture.Id )

				--END

				--SELECT STUFF( ( SELECT ',' + branchStepsCTE.Branch FROM BranchStepsCTE branchStepsCTE
				--						FOR XML PATH(''), TYPE
				--					 ).value('.[1]', 'nvarchar(max)'), 1, 1, '' ) Branch
			
			)

			--INSERT INTO @table SELECT STUFF( ( FOR XML PATH(''), TYPE).value('.[1]', 'nvarchar(max)'), 1, 1, '' ) Branch
			SELECT branchStepsCTE.Branch, branchStepsCTE.Level FROM BranchStepsCTE
			--WHERE branchStepsCTE.[Level] > @skip AND branchStepsCTE.[Level] < @take + 1
			FETCH NEXT FROM @Cursor
			INTO @ActorId
		END;

		CLOSE @Cursor
		DEALLOCATE @Cursor
		SELECT tbl.Branch FROM @table tbl
	END;
END

GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[UserType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Actor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ActorMovie]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActorMovie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[ActorId] [int] NOT NULL,
	[CharacterName] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[UserType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.ActorMovie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[LastName] [nvarchar](255) NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[City]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsOverpopulated] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[UserType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CityCulture]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityCulture](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BaseEntityId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[UserType] [int] NOT NULL,
	[CultureId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.CityCulture] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Country]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[IsOverpopulated] [bit] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Culture]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Culture](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[CultureCode] [nvarchar](10) NULL,
	[ShortName] [nvarchar](5) NULL,
	[FlagImagePath] [nvarchar](max) NULL,
	[Url] [nvarchar](50) NULL,
	[IsDefault] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Culture] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomRoute]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomRoute](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[SeoTitle] [nvarchar](255) NULL,
	[MetaKeyword] [nvarchar](500) NULL,
	[MetaDescription] [nvarchar](500) NULL,
	[ContentId] [int] NOT NULL,
	[IsAutoGenerated] [bit] NOT NULL,
	[HttpStatusCode] [int] NOT NULL,
	[PredefinedPage] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CustomRoute] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[District]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[IsOverpopulated] [bit] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.District] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Genre]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[UserType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Genre] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GenreCulture]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenreCulture](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BaseEntityId] [int] NOT NULL,
	[CultureId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[UserType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.GenreCulture] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GenreMovie]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenreMovie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[UserType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.GenreMovie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Module]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ModuleName] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo.Module] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ModulePermission]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModulePermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[UserId] [int] NULL,
	[RoleId] [int] NULL,
	[Permission] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ModulePermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Movie]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OriginalTitle] [nvarchar](max) NULL,
	[Director] [nvarchar](max) NULL,
	[Rating] [float] NOT NULL,
	[NumberOfVotes] [int] NOT NULL,
	[Year] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[UserType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[MovieType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Movie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MovieCulture]    Script Date: 09.09.2016 19:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieCulture](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BaseEntityId] [int] NOT NULL,
	[CultureId] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[UserType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.MovieCulture] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Actor] ON 

INSERT [dbo].[Actor] ([Id], [Name], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (388, N'Will Smith', 0, NULL, 1, 1, CAST(0x0000A67300DA5D25 AS DateTime), NULL)
INSERT [dbo].[Actor] ([Id], [Name], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (389, N'Jaime FitzSimons', 0, NULL, 1, 1, CAST(0x0000A67300DA5D27 AS DateTime), NULL)
INSERT [dbo].[Actor] ([Id], [Name], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (390, N'Ike Barinholtz', 0, NULL, 1, 1, CAST(0x0000A67300DA5D29 AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Actor] OFF
SET IDENTITY_INSERT [dbo].[ActorMovie] ON 

INSERT [dbo].[ActorMovie] ([Id], [MovieId], [ActorId], [CharacterName], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (388, 21, 388, N'Deadshot', 0, NULL, 1, 2, CAST(0x0000A67300DA5D26 AS DateTime), CAST(0x0000A677003E91C1 AS DateTime))
INSERT [dbo].[ActorMovie] ([Id], [MovieId], [ActorId], [CharacterName], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (389, 21, 389, N'Griggs', 0, NULL, 1, 2, CAST(0x0000A67300DA5D28 AS DateTime), CAST(0x0000A677003E91C1 AS DateTime))
INSERT [dbo].[ActorMovie] ([Id], [MovieId], [ActorId], [CharacterName], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (390, 21, 390, N'Harley Quinn', 0, NULL, 1, 2, CAST(0x0000A67300DA5D29 AS DateTime), CAST(0x0000A677003E91C1 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ActorMovie] OFF
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [Description], [Name]) VALUES (1, N'Bütün modüllere yetkili', N'Admin')
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [ImagePath], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (1, N'Murat Can', N'Tuna', N'/Areas/Dashboard/Assets/dist/img/avatar.png', N'muratcantuna@gmail.com', 0, N'ADkiuMuti8FQPCCK8VCheDyzWo0Qtgyqf/Ko0+QueNBEXUbc+gshwEDRXv/rAir9CA==', N'99ab6d52-a25a-473e-90be-ad60be707618', N'05325110354', 0, 0, NULL, 0, 0, N'muratcantuna')
SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
SET IDENTITY_INSERT [dbo].[Culture] ON 

INSERT [dbo].[Culture] ([Id], [Name], [CultureCode], [ShortName], [FlagImagePath], [Url], [IsDefault]) VALUES (1, N'Türkçe', N'tr-TR', N'tr', NULL, N'/', 1)
INSERT [dbo].[Culture] ([Id], [Name], [CultureCode], [ShortName], [FlagImagePath], [Url], [IsDefault]) VALUES (2, N'English', N'en-US', N'en', NULL, N'/en', 0)
SET IDENTITY_INSERT [dbo].[Culture] OFF
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([Id], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (36, 0, NULL, 1, 1, CAST(0x0000A67300DA5D10 AS DateTime), NULL)
INSERT [dbo].[Genre] ([Id], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (37, 0, NULL, 1, 1, CAST(0x0000A67300DA5D17 AS DateTime), NULL)
INSERT [dbo].[Genre] ([Id], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (38, 0, NULL, 1, 1, CAST(0x0000A67300DA5D1B AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Genre] OFF
SET IDENTITY_INSERT [dbo].[GenreCulture] ON 

INSERT [dbo].[GenreCulture] ([Id], [BaseEntityId], [CultureId], [Name], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (36, 36, 1, N'Action', 0, NULL, 1, 1, CAST(0x0000A67300DA5D12 AS DateTime), NULL)
INSERT [dbo].[GenreCulture] ([Id], [BaseEntityId], [CultureId], [Name], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (37, 37, 1, N'Adventure', 0, NULL, 1, 1, CAST(0x0000A67300DA5D1A AS DateTime), NULL)
INSERT [dbo].[GenreCulture] ([Id], [BaseEntityId], [CultureId], [Name], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (38, 38, 1, N'Crime', 0, NULL, 1, 1, CAST(0x0000A67300DA5D1B AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[GenreCulture] OFF
SET IDENTITY_INSERT [dbo].[GenreMovie] ON 

INSERT [dbo].[GenreMovie] ([Id], [MovieId], [GenreId], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (54, 21, 36, 0, NULL, 1, 2, CAST(0x0000A67300DA5D15 AS DateTime), CAST(0x0000A677003E91BE AS DateTime))
INSERT [dbo].[GenreMovie] ([Id], [MovieId], [GenreId], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (55, 21, 37, 0, NULL, 1, 2, CAST(0x0000A67300DA5D1A AS DateTime), CAST(0x0000A677003E91BE AS DateTime))
INSERT [dbo].[GenreMovie] ([Id], [MovieId], [GenreId], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (56, 21, 38, 0, NULL, 1, 2, CAST(0x0000A67300DA5D1B AS DateTime), CAST(0x0000A677003E91BE AS DateTime))
SET IDENTITY_INSERT [dbo].[GenreMovie] OFF
SET IDENTITY_INSERT [dbo].[Module] ON 

INSERT [dbo].[Module] ([Id], [ModuleName]) VALUES (1, N'Ülke Düzenle')
INSERT [dbo].[Module] ([Id], [ModuleName]) VALUES (2, N'Şehir Düzenle')
INSERT [dbo].[Module] ([Id], [ModuleName]) VALUES (3, N'İlçe Düzenle')
SET IDENTITY_INSERT [dbo].[Module] OFF
SET IDENTITY_INSERT [dbo].[ModulePermission] ON 

INSERT [dbo].[ModulePermission] ([Id], [ModuleId], [UserId], [RoleId], [Permission]) VALUES (1, 1, 1, NULL, 31)
INSERT [dbo].[ModulePermission] ([Id], [ModuleId], [UserId], [RoleId], [Permission]) VALUES (2, 2, 1, NULL, 31)
INSERT [dbo].[ModulePermission] ([Id], [ModuleId], [UserId], [RoleId], [Permission]) VALUES (3, 3, 1, NULL, 31)
SET IDENTITY_INSERT [dbo].[ModulePermission] OFF
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([Id], [OriginalTitle], [Director], [Rating], [NumberOfVotes], [Year], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate], [MovieType]) VALUES (21, N'Suisayd sıkuad', N' David Ayer', 6.8, 189513, CAST(0x0000A68D00000000 AS DateTime), 0, 1, 1, 1, CAST(0x0000A67300DA5CC2 AS DateTime), CAST(0x0000A677003E91BC AS DateTime), 0)
INSERT [dbo].[Movie] ([Id], [OriginalTitle], [Director], [Rating], [NumberOfVotes], [Year], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate], [MovieType]) VALUES (22, NULL, N' Steven Zaillian
', 9, 22063, CAST(0x0000A63C00000000 AS DateTime), 0, NULL, 1, 1, CAST(0x0000A67300DA6821 AS DateTime), NULL, 2)
INSERT [dbo].[Movie] ([Id], [OriginalTitle], [Director], [Rating], [NumberOfVotes], [Year], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate], [MovieType]) VALUES (23, NULL, N' Todd Phillips
', 7.3, 11167, CAST(0x0000A66700000000 AS DateTime), 0, NULL, 1, 1, CAST(0x0000A67300DA75FF AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Movie] OFF
SET IDENTITY_INSERT [dbo].[MovieCulture] ON 

INSERT [dbo].[MovieCulture] ([Id], [BaseEntityId], [CultureId], [Title], [Country], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (21, 21, 1, N'Suicide Squad', N'USA', 0, 1, 1, 1, CAST(0x0000A67300DA5CF1 AS DateTime), NULL)
INSERT [dbo].[MovieCulture] ([Id], [BaseEntityId], [CultureId], [Title], [Country], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (22, 22, 1, N'The Night Of', N'USA', 0, NULL, 1, 1, CAST(0x0000A67300DA6821 AS DateTime), NULL)
INSERT [dbo].[MovieCulture] ([Id], [BaseEntityId], [CultureId], [Title], [Country], [CreatedBy], [ModifiedBy], [UserType], [Status], [CreationDate], [ModificationDate]) VALUES (23, 23, 1, N'War Dogs', N'USA', 0, NULL, 1, 1, CAST(0x0000A67300DA75FF AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[MovieCulture] OFF
/****** Object:  Index [IX_ActorId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_ActorId] ON [dbo].[ActorMovie]
(
	[ActorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_MovieId] ON [dbo].[ActorMovie]
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 09.09.2016 19:28:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 09.09.2016 19:28:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BaseEntityId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_BaseEntityId] ON [dbo].[CityCulture]
(
	[BaseEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CultureId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_CultureId] ON [dbo].[CityCulture]
(
	[CultureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CityId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_CityId] ON [dbo].[District]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BaseEntityId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_BaseEntityId] ON [dbo].[GenreCulture]
(
	[BaseEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CultureId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_CultureId] ON [dbo].[GenreCulture]
(
	[CultureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GenreId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_GenreId] ON [dbo].[GenreMovie]
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_MovieId] ON [dbo].[GenreMovie]
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModuleId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_ModuleId] ON [dbo].[ModulePermission]
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BaseEntityId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_BaseEntityId] ON [dbo].[MovieCulture]
(
	[BaseEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CultureId]    Script Date: 09.09.2016 19:28:08 ******/
CREATE NONCLUSTERED INDEX [IX_CultureId] ON [dbo].[MovieCulture]
(
	[CultureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movie] ADD  DEFAULT ((0)) FOR [MovieType]
GO
ALTER TABLE [dbo].[ActorMovie]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ActorMovie_dbo.Actor_ActorId] FOREIGN KEY([ActorId])
REFERENCES [dbo].[Actor] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ActorMovie] CHECK CONSTRAINT [FK_dbo.ActorMovie_dbo.Actor_ActorId]
GO
ALTER TABLE [dbo].[ActorMovie]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ActorMovie_dbo.Movie_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ActorMovie] CHECK CONSTRAINT [FK_dbo.ActorMovie_dbo.Movie_MovieId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CityCulture]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CityCulture_dbo.City_BaseEntityId] FOREIGN KEY([BaseEntityId])
REFERENCES [dbo].[City] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CityCulture] CHECK CONSTRAINT [FK_dbo.CityCulture_dbo.City_BaseEntityId]
GO
ALTER TABLE [dbo].[CityCulture]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CityCulture_dbo.Culture_CultureId] FOREIGN KEY([CultureId])
REFERENCES [dbo].[Culture] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CityCulture] CHECK CONSTRAINT [FK_dbo.CityCulture_dbo.Culture_CultureId]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [FK_dbo.District_dbo.City_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [FK_dbo.District_dbo.City_CityId]
GO
ALTER TABLE [dbo].[GenreCulture]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryCulture_dbo.Category_BaseEntityId] FOREIGN KEY([BaseEntityId])
REFERENCES [dbo].[Genre] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GenreCulture] CHECK CONSTRAINT [FK_dbo.CategoryCulture_dbo.Category_BaseEntityId]
GO
ALTER TABLE [dbo].[GenreCulture]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryCulture_dbo.Culture_CultureId] FOREIGN KEY([CultureId])
REFERENCES [dbo].[Culture] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GenreCulture] CHECK CONSTRAINT [FK_dbo.CategoryCulture_dbo.Culture_CultureId]
GO
ALTER TABLE [dbo].[GenreMovie]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryMovie_dbo.Category_CategoryId] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GenreMovie] CHECK CONSTRAINT [FK_dbo.CategoryMovie_dbo.Category_CategoryId]
GO
ALTER TABLE [dbo].[GenreMovie]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryMovie_dbo.Movie_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GenreMovie] CHECK CONSTRAINT [FK_dbo.CategoryMovie_dbo.Movie_MovieId]
GO
ALTER TABLE [dbo].[ModulePermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ModulePermission_dbo.Module_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ModulePermission] CHECK CONSTRAINT [FK_dbo.ModulePermission_dbo.Module_ModuleId]
GO
ALTER TABLE [dbo].[MovieCulture]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCulture_dbo.Culture_CultureId] FOREIGN KEY([CultureId])
REFERENCES [dbo].[Culture] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCulture] CHECK CONSTRAINT [FK_dbo.MovieCulture_dbo.Culture_CultureId]
GO
ALTER TABLE [dbo].[MovieCulture]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCulture_dbo.Movie_BaseEntityId] FOREIGN KEY([BaseEntityId])
REFERENCES [dbo].[Movie] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCulture] CHECK CONSTRAINT [FK_dbo.MovieCulture_dbo.Movie_BaseEntityId]
GO
USE [master]
GO
